<section class="w-full px-4 py-16">
  <h2 class="text-3xl font-bold text-center mb-12 text-[#f5284a] uppercase">Productos Tops</h2>

  <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-3 place-items-center">
    
       
    <!-- CARD PRODUCTO -->
    <div class="md:w-90 bg-white rounded-lg shadow-md overflow-hidden hover:shadow-2xl transition duration-300">
      <img 
        src="assets/images/products/munecos/rana-rene.webp" 
        alt="Rana Rene" 
        class="w-full h-56 object-cover"
      />

      <div class="p-4">
        <h3 class="text-lg font-semibold text-gray-800">Disfraz Rana Rene</h3>
        <p class="text-sm text-gray-600 mt-1">Temática de cumpleaños para ingreido de casa</p>

        <div class="flex items-center gap-2 mt-3">
          <span class="text-sm text-gray-400 line-through">S/ 74.90</span>
          <span class="text-lg font-bold text-[#f5284a]">S/ 59.90</span>
        </div>

        <button 
          class="mt-4 w-full bg-[#f5284a] text-white py-2 rounded-lg hover:bg-[#fc516d] transition">
          Agregar al carrito
        </button>
      </div>
    </div>
    <!-- CARD PRODUCTO -->
    <div class="md:w-90 bg-white rounded-lg shadow-md overflow-hidden hover:shadow-2xl transition duration-300">
      <img 
        src="assets/images/products/cuadros/cuadro-para-papa.webp" 
        alt="Cuadro Personalizado" 
        class="w-full h-56 object-cover"
      />

      <div class="p-4">
        <h3 class="text-lg font-semibold text-gray-800">Cuadro Personalizado</h3>
        <p class="text-sm text-gray-600 mt-1">Cuadro personalizado de 21cm x 29cm</p>

        <div class="flex items-center gap-2 mt-3">
          <span class="text-sm text-gray-400 line-through">S/ 59.90</span>
          <span class="text-lg font-bold text-[#f5284a]">S/ 49.90</span>
        </div>

        <button 
          class="mt-4 w-full bg-[#f5284a] text-white py-2 rounded-lg hover:bg-[#fc516d] transition">
          Agregar al carrito
        </button>
      </div>
    </div>
    <!-- CARD PRODUCTO -->
    <div class="md:w-90 bg-white rounded-lg shadow-md overflow-hidden hover:shadow-2xl transition duration-300">
      <img 
        src="assets/images/products/globos/globo-detalle-de-universitario.webp" 
        alt="Osita Profesora" 
        class="w-full h-56 object-cover"
      />

      <div class="p-4">
        <h3 class="text-lg font-semibold text-gray-800">Detalle de Universitario</h3>
        <p class="text-sm text-gray-600 mt-1">Globo detalle para hincha de universitario</p>

        <div class="flex items-center gap-2 mt-3">
          <span class="text-sm text-gray-400 line-through">S/ 79.90</span>
          <span class="text-lg font-bold text-[#f5284a]">S/ 69.90</span>
        </div>

        <button 
          class="mt-4 w-full bg-[#f5284a] text-white py-2 rounded-lg hover:bg-[#fc516d] transition">
          Agregar al carrito
        </button>
      </div>
    </div>
    

    <!-- Puedes copiar y modificar esta card por cada producto -->

  </div>
</section>
