<nav class="bg-white px-6 py-4 flex justify-around items-center sticky top-0 z-50">
    <a routerLink="/" class="flex items-center font-bold text-[#D71016] whitespace-nowrap">
        <img src="/logo.svg" class="mr-3 h-6 w-6 sm:h-9" alt="Mi Tercer Regalo Logo"/>
        <span class="text-[#D71016] text-xl">Mi Tercer Regalo</span>    
    </a>    
  <ul class="hidden md:flex gap-6 text-gray-500 font-medium">
    <li><a routerLink="/" class="hover:text-[#e14149]">Inicio</a></li>
    <li><a routerLink="/products" class="hover:text-[#e14149]">Productos</a></li>
    <li><a routerLink="/services" class="hover:text-[#e14149]">Servicios</a></li>
    <li><a routerLink="/catalogo" class="hover:text-[#e14149]">Catálogo</a></li>
    <li><a routerLink="/nosotros" class="hover:text-[#e14149]">Nosotros</a></li>
    <li><a routerLink="/contacto" class="hover:text-[#e14149]">Contacto</a></li>
  </ul>
  <a href="https://wa.me/519XXXXXXXX" target="_blank" class="md:block hidden bg-green-500 text-white px-4 py-2 rounded-full hover:bg-green-600">
    WhatsApp
  </a>
</nav>