<nav class="bg-white px-6 py-4 flex justify-around items-center sticky top-0 z-50">
    <a routerLink="/" class="flex items-center font-bold text-[#D71016] whitespace-nowrap cursor-pointer">
        <img src="/logo.svg" class="mr-3 h-6 w-6 sm:h-9" alt="Mi Tercer Regalo Logo"/>
        <span class="text-[#D71016] text-xl">Mi Tercer Regalo</span>    
    </a>    
  <ul class="hidden md:flex gap-6 text-gray-500 text-sm font-medium">
    <li><a routerLink="/" routerLinkActive="active" class="hover:text-[#e14149] cursor-pointer">Inicio</a></li>
    <li><a routerLink="/productos" routerLinkActive="active" class="hover:text-[#e14149] cursor-pointer">Productos</a></li>
    <li><a routerLink="/servicios" routerLinkActive="active" class="hover:text-[#e14149] cursor-pointer">Servicios</a></li>
    <li><a routerLink="/nosotros" routerLinkActive="active" class="hover:text-[#e14149] cursor-pointer">Nosotros</a></li>
    <li><a routerLink="/testimonios" routerLinkActive="active" class="hover:text-[#e14149] cursor-pointer">Testimonios</a></li>
    <li><a routerLink="/preguntas-frecuentes" routerLinkActive="active" class="hover:text-[#e14149] cursor-pointer">Preguntas Fecuentes</a></li>
  </ul>
  <!-- <a href="https://wa.me/519XXXXXXXX" target="_blank" class="md:block hidden bg-green-500 text-white px-4 py-2 rounded-full hover:bg-green-600">
    WhatsApp
  </a>-->
</nav> 
<router-outlet></router-outlet>
