<!-- HEADER SEO-FRIENDLY -->
<header class="bg-[#f5284a] text-white overflow-hidden relative">
  <div class="max-w-screen-xl mx-auto py-2 px-4">
    <!-- Texto estático para SEO -->
    <!-- <h3 class="text-lg font-bold">
      🎉 Detalles personalizados, fiestas y sorpresas para toda ocasión
    </h3> -->

    <!-- Texto animado -->
    <div class="flex justify-center items-centerrelative overflow-hidden whitespace-nowrap marquee-pause">
      <p class="animate-marquee inline-block text-sm md:text-lg">
         <span class="text-sm md:text-lg text-amber-300 font-bold uppercase">¡Super Ofertas¡</span>
         <a href="/" class="underline italic"> Ver Más</a>
         <span class="text-sm md:text-lg text-amber-300 font-bold uppercase"> ¡Super Ofertas¡</span>
         <!-- <span class="text-sm md:text-lg"> Por el Día del Niño </span> -->
         <a href="/" class="underline italic"> Ver Más</a>
         <span class="text-sm md:text-lg text-amber-300 font-bold uppercase"> ¡Super Ofertas¡</span>
         <!-- <span class="text-sm md:text-lg"> Por el Día del Niño </span> -->
         <a href="/" class="underline italic"> Ver Más </a>
                
      </p>
    </div>
  </div>
</header>
