<section class="w-full px-4 py-10 flex flex-col md:flex-row items-center justify-center gap-5">
  <div class="flex flex-col w-full md:w-1/2 text-center md:text-left md:ml-20">
    <h1 class="text-4xl text-[#D70000] font-semibold">Somos Mi Tercer Regalo</h1>
    <p class="mt-4 text-gray-700 text-base md:text-lg text-justify">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto beatae
      mollitia quae velit exercitationem voluptatibus itaque at! Dolor hic
      laudantium, quibusdam praesentium repellendus facilis laborum dolores
      reprehenderit minima, ducimus corporis! Alias nam dignissimos molestiae,
      voluptates aperiam beatae quasi optio. Veniam minima maiores ratione, eius
      eaque sunt doloribus similique cum quas? Eaque maiores, illo eum
      consequatur officiis in reiciendis dolore porro.
    </p>
    <img src="assets/images/logo/logoMTR.png"
         alt="Logo de Mi Tercer Regalo"
         class="w-28 md:w-40 mx-auto md:mx-0 mt-6"/>
  </div>
  <div class="w-full md:w-1/2 grid grid-cols-2 grid-rows-5 gap-4 place-items-center">    
      
          <img src="assets/images/products/munecos/osita-profesora.webp"
            alt="Osita Profesora de Mi Tercer Regalo"
            class="w-32 row-start-1 row-end-3 md:w-40 rotate-[-10deg] rounded-lg shadow-lg" lazyload="lazy"/>       
      
          <img src="assets/images/products/tejidos/tejido-sportingC.webp"
            alt="Tejido Sporting Cristal"
            class="w-32 row-start-2 row-end-4 md:w-40 rotate-[-10deg] rounded-lg shadow-lg" lazyload="lazy"/>
       
      
            <img src="assets/images/products/globos/globo-la-u.webp" 
                 alt="Globo de la U"
                 class="w-32 row-start-3 row-end-5 md:row-start-4 md:row-end-6 md:w-40 rotate-[-10deg] rounded-lg shadow-lg" lazyload="lazy"/>
       
  </div>
</section>
