/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
/* Marquee hecho con Tailwind + @layer */
@keyframes marquee {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
}
.marquee-pause:hover .animate-marquee {
    animation-play-state: paused;
}
@keyframes slide-down {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}